body {
  background: #ff6f6fff;
  color: white;

}
.contener {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.main {
  height: 500px;
  max-width: 500px;
  min-width: 100px;
  padding: 20px;
}

input {
  background: none;
  border: 0;
  border-bottom: 1px solid #ff9595a3;
  outline: none;
  color: white;
  font-size: 35px;
  width: 100%;
  transition: border-bottom 0.2s linear;
}

textarea {
  margin-top: 10px;
  background: none;
  border: 0;
  border-bottom: 1px solid #ff9595a3;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  transition: border-bottom 0.2s linear;
  resize: none;
}

input:focus, textarea:focus { border-bottom: 1px solid white; }

button {
  display: block;
  background: none;
  color: #9b3131;
  width: 100%;
  border: none;
  outline: none;
  transition: color 0.2s linear;
  height: 50px;
}
button:hover {
  color: #ffcfcf;
}

button.remove-button {
  display: inline;
  width: auto;
  opacity: 0.1;
}

button.remove-button:hover {
  opacity: 1;
}

header {
  padding: 0 20px;
  justify-self: right;
}

footer {
  width: 100%;
  background: #ff6f6fff;
  padding-bottom: 15px;
  text-align: center;
  align-self: end;
}

.footer-mine {
  margin-top: 20px;
  color: bisque;
  font-size: 15px;
  text-align: center;
}

.footer-mine a {
  color: bisque;
}

.instruction-view {
  max-height: 500px;
  display: block;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.instruction-show {
  max-height: 0;
}

.create-btn-hide {
  visibility: hidden;
}

.copy-link {
  text-align: left;
  padding: 0;
}

.break-word {
  word-break: break-all;
}

.copyWrapper {
  position: relative;
}

.copy-link:hover + .copy-info {
  opacity: 1;
  background: rgba(255,255,255, 0.2);
}
.copy-info {
  position: absolute;
  right: 0;
  opacity: 0.2;
  padding: 5px;
}

.error {
  padding: 20px;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

.loading {
  padding: 20px;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  width: 100%;
  position: absolute;
}

.snowflake {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate{
  to{ transform: rotate(360deg); }
}
